body{
    background-color: #6D9886;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 10px;
}

.container-fluid{
    background-color: #D3E4CD; 
    padding: 3% 5%;
    width: 70%;
    margin: 100px auto;
    border-radius: 15px;
    height: auto;
}

.name{
    text-align: center;
    font-family: 'Bad Script', cursive;
    line-height: 3;
    padding: 5%;
    margin-top: 30px;
}

.bio-container{
    /* padding-top: 75px;
    padding-bottom: 100px; */
}

.projects{
    
}

hr{
    border: dotted black 6px;
    border-bottom: none;
    width: 4%;
    margin: 60px auto;
  
  }

  #name_header{
    margin-bottom: 30px;
  }

#project_header{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
}

.haley{
    width: 300px;
    height: 300px;
}

.bio{
    text-align: center;
    margin: auto;
    padding-top: 60px;
}

.contact-container{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

* {
     color:black; 
     text-decoration: none;
    }

/* contact page */
.contact-info{
    text-align: center;
    margin-top: 75px;
}

.email-header{
    text-align: center;
}

.email{
    text-align: center;
}

.form-outline{
    text-align: center;
}

/* project page  */
.title{
    text-align: left;
    margin-top: 50px;
}

.current-projects{
    margin-left: 50px;
}

.finished-projects{
    text-align: center;
}

.proj-content{
    margin-top: 50px;
}

/* cv  */
.page-title{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

.cv-titles{
    text-decoration: underline;
}
.first-point{
    list-style: none;
}
.sub-point{
    margin-left: 30px;
}

.row{
    margin-bottom: 20px;
}