body{
    background: rgb(76,85,241);
    background: radial-gradient(circle, rgba(76,85,241,1) 0%, rgba(148,233,226,1) 100%);
}

h1{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 10px;
}

.container-fluid{
    background-color: white; 
    background-color: hsla(0, 0%, 100%, 0.30);;
    padding: 3% 5%;
    width: 70%;
    margin: 100px auto;
    border-radius: 15px;
    height: auto;
}

#name_header{
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 3;
}

.bio-container{
    /* padding-top: 75px;
    padding-bottom: 100px; */
}

.projects{
    
}

hr{
    border: dotted black 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 70px;
}

.section-header{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
    text-align: center;
}

.bio{
    margin-top: 60px;
}

.haley{
    width: 300px;
    height: 300px;
    margin-left: 90px;
}

.about-me{
    text-align: center;
    margin: auto;
}

.contact-container{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

* {
     color:black; 
     text-decoration: none;
    }

/* contact page */
.contact-info{
    text-align: center;
    margin-top: 75px;
}

.email-header{
    text-align: center;
}

.email{
    text-align: center;
}

.form-outline{
    text-align: center;
}

/* project page  */
.title{
    text-align: left;
    margin-top: 50px;
}

.current-projects{
    margin-left: 50px;
}

.finished-projects{
    text-align: center;
}

.proj-content{
    margin-top: 50px;
}

/* cv  */
.page-title{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

.cv-titles{
    text-decoration: underline;
}
.first-point{
    list-style: none;
}
.sub-point{
    margin-left: 30px;
}

.row{
    margin-bottom: 20px;
}